<html>
    <head>
        {% load static %}

        <!-- Bootstrap -->
        <link href="{% static 'app_empleados/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Fonts -->
        
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
        

        <!-- Styles -->
        <link href="{% static 'app_empleados/css/gestion.css' %}" rel="stylesheet">
        <title>
            Búsqueda de Empleados
        </title>
    </head>
    <body>

              <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="home.html">Administración de Empleados</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../">Home</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../busqueda/">Consultas</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../guardaempleado/">Altas</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../busqueda/">Bajas</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../busqueda/">Cambios</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">Error en el formulario</div>
        {% endif %}

        <h2>Registro de Empleados</h2>
        <form action="/registrausuario/" method="POST">
            {% csrf_token %}

            {{ form }}

            <input type="submit" class="btn btn-primary">

        </form> 

          

    </body>
</html>