<html>
    <head>
        {% load static %}

        <!-- Bootstrap -->
        <link href="{% static 'app_empleados/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Fonts -->
        
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
        

        <!-- Styles -->
        <link href="{% static 'app_empleados/css/gestion.css' %}" rel="stylesheet">
        <title>
            Búsqueda de Empleados
        </title>
    </head>
    <body>
                     <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="home.html">Administración de Empleados</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../">Home</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../busqueda/">Consultas</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../guardaempleado/">Altas</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../busqueda/">Bajas</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../busqueda/">Cambios</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
        <form action="/buscar/" method="GET">
            Empresa
            <select onchange="this.form.submit()" name="empresa">
                <option value="">...todas</option>
                {% if empresas %}
                {% for empresa in empresas %}                         
                <option value="{{empresa.nombre}}" {% if empresa.nombre == get_empr %} selected {% endif %} >{{empresa.nombre}}</option> 
                {% endfor %}                
                {% endif %}                    
            </select>
            Departamento
            <select onchange="this.form.submit()" name="departamento">
                <option value="">...todos</option>
                {% if departamentos %}
                {% for departamento in departamentos %}                         
                <option value="{{departamento.nombre}}" {% if departamento.nombre == get_depto %} selected {% endif %}>{{departamento.nombre}}</option> 
                {% endfor %}
                {% endif %}                    
            </select>
            Nombre *
            <input type="text" name="nombre" value="{{get_texto}}">
            <input type="submit" value="Buscar">
        </form>
        <div>Estás buscando Nombres que contengan: <strong>{{get_texto}}</strong>, Empresas: <strong>{% if get_empr == "" %} ...todas {% else %} {{get_empr}} {% endif %} </strong>, Departamentos: <strong>{% if get_depto == "" %} ...todos {% else %} {{get_depto}} {% endif %} </strong></div>
        {% if empleados %}
        <div>Empleados encontrados: {{empleados|length}} registros</div>   
        <table border="1" style="border: 1px solid gray;">
            <tr style="font-weight: bold">
            <td>Nombre</td>
            <td>Departamento</td>
            <td>Empresa</td>
            <td>Editar</td>
            <td>Dar de baja</td>
            </tr>
            {% for empleado in empleados %}
                <tr>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.departamento}}</td>
                    <td>{{empleado.empresa}}</td>
                    <td><a href="/editaempleado/{{empleado.id_empleado}}/">Editar</a></td>
                    <td><a href="/eliminaempleado/{{empleado.id_empleado}}/">Baja</a></td>
                </tr>                            
            {% endfor %}
        </table>
        {% else %}
        <div>No se encontraron registros</div>
        {% endif %}
    </body>
</html>